body {
background:#fbf7f7;
text-align:center;
font-family:"Oxygen";
}

a{
color:black;
}

.portada_legajos {
    background-image: url('/static/img/legajos.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 10rem;
}
.portada_comunicaciones {
    background-image: url('/static/img/central_alarmas.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 10rem;


}

.portada_licencias{
background-image: url('/static/img/portlic.jpg');
    background-attachment: ;
    background-size: cover;
    background-position: center;
    padding: 10rem;
}



.separadorhr{
background-color:;
margin: 10px 20px;
height:120px;
}



.byb{
background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.logo{
width:70px;
}
header a{
font-family:'Lora';
width:150px;}

.logo_index{
width:250px;
}

.titulo{
font-size:60px;
font-family:"Lora";
margin:30px;
}

/* Define las animaciones */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Aplica las animaciones a los botones */
.boton {
    color: #f8f72c;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    width: 16rem;
    height: 16rem;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20%;
    font-size: 30px;
    opacity: 0; /* Oculta los botones inicialmente */
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Aplica la animación desde la izquierda o derecha según corresponda */
.row:nth-child(1) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(1) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}

.row:nth-child(2) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(2) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}

.row:nth-child(3) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(3) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}
.row:nth-child(4) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(4) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}
.row:nth-child(5) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(5) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}
.row:nth-child(6) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(6) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}
.row:nth-child(7) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(7) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}
.row:nth-child(8) .col-md-6:nth-child(odd) .boton {
    animation-name: slideInLeft;
}

.row:nth-child(8) .col-md-6:nth-child(even) .boton {
    animation-name: slideInRight;
}
/* Repite para las filas adicionales si es necesario */



.boton:hover{
width:18rem;
height:18rem;
}

.menu{
margin: 1.3rem;
padding:3rem;

}

.mensaa{
margin:20px;
background-color:#26262a;
color:black;
}


/* Clase para animar el cambio de color */
.cambio-color {
    animation: cambio 1s infinite;
}

/* Definición de la animación */
@keyframes cambio {
    0% {
        color: #f42222;
    }
    50% {
        color: #fcf4f3;
    }
    75% {
        color: #3ed92b;
    }
    100% {
        color: #2bd9d4;
    }
}

.usuario_online {
    color: #f11610;
    margin-top: 2%;
    font-family: "Lora";
    font-size: 3rem;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


.piepag{
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding:90px;
margin-top:30px;
}


.icono-final{
color:#34E207;
}





form {
background-color:#ACB9B9;
margin:2% 20%;
border: 9px solid #FDFDFD;
padding: 20px;
width: 70%;
border-radius: 5px;
box-shadow: 3px 6px 110px #ccc;
}



/* Estilos para los campos del formulario */
input {
width: 100%;
padding: 10px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

/* Estilos para el botón del formulario */
button[type=submit] {
background-color:#3B693D;
color: white;
padding: 20px 20px;
border: 1px solid black;
border-radius: 4px;
cursor: pointer;
font-size:1rem;
}
button label{
color:#230903;
display: block;
margin-bottom: 0.5rem;
font-weight: bold;
}

#asist_del{
background-color:black;
margin:2% 10%;
border: 1px solid #FDFDFD;
padding: 15px;
width: 100%;
border-radius: 5px;
box-shadow: 3px 6px 110px #ccc;
}
#asist_del button[type=submit] {
background-color:red;
color: white;
padding: 10px 10px;
border: 1px solid black;
border-radius: 4px;
cursor: pointer;
font-size:0.8rem;
}


/* Estilo de la tabla */
div.dataTables_wrapper input[type="search"] {
    background-color: #DAF7A6; /* Cambia este color al que desees */
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo de las celdas de encabezado */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}

/* Estilo de las celdas de datos */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Estilo para resaltar filas impares */
tr:nth-child(odd) {
    background-color: #84EC8F;
}

/* Estilo para resaltar filas al pasar el cursor por encima */
tr:hover {
    background-color: #e0e0e0;
}


.tabla_bomberos th{
background-color: #E7E3E2;
    text-align: left;
    padding: 10px;

}

.tabla_bomberos td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Estilo para resaltar filas impares */
.tabla_bomberos tr:nth-child(odd) {
    background-color: #87F1E1;
}

/* Estilo para resaltar filas al pasar el cursor por encima */
.tabla_bomberos td:hover {
    background-color: #36c7e7;
    transform: scale(1.3);
    }

.portada_matyequipos{
background-image: url('/static/img/matye.jpg');
padding:13rem 10rem;
background-attachment: fixed;
background-size: cover;
background-position: center;
}



.organig{
margin:20px;
}

.organigrama1 {
width: 95%;
height: 90%;
}
.organigrama2 {
width: 65%;
height: 90%;
}



.accordion-custom {
    margin: 0 auto;
    width: 50rem;
    border: 3px solid black;

}
.accordion-header .accordion-button {
    background-color:#85b9ed;
}
.accordion-header .accordion-button.collapsed {
    background-color: #f8f9fa;
}
.accordion-body {
    background-color: #f46e4e;
    font-size:14px;
}

@media (max-width:910px){
.accordion-custom {
width:23rem;
}
}

@media (max-width:450px){
.accordion-custom {
width:18rem;
}

form{
background-color:#ACB9B9;
border: 9px solid #FDFDFD;
width: 80%;
border-radius: 5px;
box-shadow: 3px 6px 110px #ccc;
}


.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 10px;
}

}

.contact-containe {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.contact-containe h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.contact-containe section {
    margin-bottom: 20px;
}

.contact-containe h2 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contact-containe ul {
    list-style-type: none;
    padding: 0;
}

.contact-containe ul li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-containe ul li strong {
    color: #007bff;
}

.contact-containe p {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


 .form_automotores label {
            font-size: 1.2em; /* Ajusta el tamaño de fuente según lo desees */
            font-weight: bold; /* Pone el texto en negrita */
        }

 .etiquetaaa{
 font-size:22px;
 font-weight:bold;
 }


 .form_automotores{
 background-color:#ef9139;
 }

  #tablaautomotores th{
 background-color:#ef9139;
 color:black;
 }





 .form_kitforestal{
 background-color:#55e8bc;
 }

 #tablakits th{
 background-color:#55e8bc;
 color:black;
 }





