{% extends "base.html" %}

{% block content %}
{% if name %}

      <h1 class="usuario_online titulo"><strong>Bienvenido:</strong>{{ name }}</h1>
        <p>Horas acumuladas este mes: {{ horas_acumuladas }} </p><br>
  <br>


  {% endif %}

<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>

<section class="menu">
   <div class="row">

       <div class="col-md-6">
           <a href="{{ url_for('legajosvcp') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/legajos.jpg') }}'); background-size: cover;">Datos Personales</a>
       </div>



       <div class="col-md-6">
           <a href="{{ url_for('cambio_guardia') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/cambios.jpg') }}'); background-size: cover;">Cambios de Guardia</a>

       </div>
   </div>
    <br>


    <div class="row">
       <div class="col-md-6">
          <a href="{{ url_for('partes_licencia') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/partes.jpg') }}'); background-size: cover;">Partes</a>
       </div>

        {% if current_user.rol == 'admin' %}
       <div class="col-md-6">
           <a href="{{ url_for('cargadatos') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/contacto.jpg') }}'); background-size: cover;">Carga de datos</a>

       </div>
        {% endif %}
   </div>
    <br>


    <div class="row">
             <div class="col-md-6">
           <a href="{{ url_for('matyequipo') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/541.jpg') }}'); background-size: cover;">Materiales & Equipo</a>

       </div>

        <div class="col-md-6">
           <a href="{{ url_for('fichas_medicas') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/ficha_medica.jpg') }}'); background-size: cover;">Ficha Medica</a>

       </div>

         {% if current_user.rol == 'admin' %}

        {% endif %}

   </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <a href="{{ url_for('licencias_conducir') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/portlic1.jpg') }}'); background-size: cover;">Licencias de Conducir</a>

        </div>

        <div class="col-md-6">
            <a href="{{ url_for('asistencia') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/iiff.jpg') }}'); background-size: cover;">Asistencias</a>

        </div>

    </div>


     <div class="row">
        <div class="col-md-6">
            <a href="{{ url_for('automotores') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/matye.jpg') }}'); background-size: cover;">Automotores</a>

        </div>


        {% if current_user.rol == 'admin' or current_user.rol == 'comunicaciones' or current_user.rol == 'automotor' %}

        <div class="col-md-6">
            <a href="{{ url_for('centralistas') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/central.jpg') }}'); background-size: cover;">Comunicaciones</a>

        </div>

        {% endif %}

        </div>





</section>

<script>
        setInterval(function() {
            var h2 = document.getElementById('miH202');
            h2.classList.toggle('cambio-color');
        }, 1000);
</script>


{% endblock %}