{% extends "base.html" %}
{% block content %}

<!--
<audio autoplay loop>
  <source src="/static/archivos/feliz_navidad.mp3" type="audio/mpeg">
  Tu navegador no soporta la etiqueta de audio.
</audio>

!-->



<script>
  function confirmSubmit() {

    return confirm('¿Está seguro de registrar esta información?');
  }
</script>

<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>



<div class="row">
      <div class="col-lg-6 col-md-12">

           <h3 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h3>
        <form class="form_ins" action="{{ url_for('asistencia') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

        <select class="form-control" id="tipo_registro" name="tipo_registro" placeholder="TIPO DE REGISTRO" required="required">
              <option value="" disabled selected>TIPO DE REGISTRO</option>
            <option value="INGRESO">INGRESO</option>
            <option value="SALIDA">SALIDA</option>

        </select>



         <select class="form-control" id="actividad" name="actividad" placeholder="ACTIVIDAD" required="required">
    <option value="" disabled selected>ACTIVIDAD</option>
    <option value="Guardia Semana">Guardia Semana</option>
    <option value="Guardia Obligatoria">Guardia Obligatoria</option>
    <option value="Capacitacion">Capacitación</option>
    <option value="Reunion">Reunión</option>
    <option value="Refuerzo de Guardia">Refuerzo de Guardia</option>
    <option value="Convocatoria">Convocatoria</option>
    <option value="Orden de Servicio">Orden de Servicio</option>
    <option value="Practica">Práctica</option>
    <option value="Colaboracion fuera de juri">Colaboración Fuera de Jurisdicción</option>
    <option value="Inspecciones">Inspecciones</option>
    <option value="Matafuegos">Matafuegos</option>
    <option value="Tareas de área">Tareas de área</option>
</select>



         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>

      </div>

    <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="asistenciatablauser">
    <h2>Bomberos en Base:</h2>
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Hora</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias %}
        {% for agte in bravo %}
        {% if asistencia.dni == agte.dni %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.actividad }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>



        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>

<div class="box">
    <canvas id="graficoAsistenciaPorDia" width="400" height="200"></canvas>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Obtener los datos desde la ruta de Flask
    fetch("{{ url_for('asistencia_dia_semana') }}")
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoAsistenciaPorDia').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Asistencias por Día de la Semana',
                        data: data.values,
                        backgroundColor: 'rgba(75, 192, 192, 0.6)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    }
                }
            });
        });
});
</script>

</div>

{% if current_user.rol == 'admin' %}

<h3 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h3>
        <form class="form_ins" action="{{ url_for('asistencia') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

        <select class="form-control" name="tipo_registro" placeholder="TIPO DE REGISTRO" required="required">
              <option value="" disabled selected>TIPO DE REGISTRO</option>
            <option value="INGRESO">INGRESO</option>
            <option value="SALIDA">SALIDA</option>
            <input type="date" name="fecha" id="fecha" required>
            <input type="time" name="hora" id="hora" required>

                    <select class="form-control" name="actividad" placeholder="ACTIVIDAD" required="required">
    <option value="" disabled selected>ACTIVIDAD</option>
    <option value="Guardia Semana">Guardia Semana</option>
    <option value="Guardia Obligatoria">Guardia Obligatoria</option>
    <option value="Capacitacion">Capacitación</option>
    <option value="Reunion">Reunión</option>
    <option value="Refuerzo de Guardia">Refuerzo de Guardia</option>
    <option value="Convocatoria">Convocatoria</option>
    <option value="Orden de Servicio">Orden de Servicio</option>
    <option value="Practica">Práctica</option>
    <option value="Colaboracion fuera de juri">Colaboración Fuera de Jurisdicción</option>
    <option value="Inspecciones">Inspecciones</option>
    <option value="Matafuegos">Matafuegos</option>
    <option value="Tareas de área">Tareas de área</option>
</select>




        </select>


         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>



 <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="tablaasistencia_general">
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Editar</th>
            <th>Eliminar</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias_general %}
        {% for agte in bravo %}
        {% if asistencia.dni == agte.dni %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>
            <td>
                <!-- Botón para editar -->
                <a href="{{ url_for('editar_asistencia', id=asistencia.id_asistencia) }}" class="btn btn-info">Editar</a>
            </td>

            <td>
                <!-- Botón para eliminar -->
                <form id="asist_del" action="{{ url_for('eliminar_asistencia', id=asistencia.id_asistencia) }}" method="POST" onsubmit="return confirm('¿Estás seguro que deseas eliminar este registro?');">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>



        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>


{% endif %}





<script>
    $(document).ready(function () {
        $('#tablaasistencia_general').DataTable();
        $('#asistenciatablauser').DataTable();
    });
</script>
<script>
        setInterval(function() {
            var h2 = document.getElementById('miH202');
            h2.classList.toggle('cambio-color');
        }, 1000);
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tipoRegistro = document.getElementById("tipo_registro");
        const actividad = document.getElementById("actividad");

        tipoRegistro.addEventListener("change", function () {
            if (tipoRegistro.value === "SALIDA") {
                actividad.value = ""; // Limpia el campo
                actividad.disabled = true; // Desactiva el campo
                actividad.removeAttribute("required"); // Elimina el requisito de ser obligatorio
            } else {
                actividad.disabled = false; // Habilita el campo
                actividad.setAttribute("required", "required"); // Lo hace obligatorio nuevamente
            }
        });
    });
</script>




{% endblock %}