{% extends "base.html" %}
{% block content %}

<!--
<audio autoplay loop>
  <source src="/static/archivos/feliz_navidad.mp3" type="audio/mpeg">
  Tu navegador no soporta la etiqueta de audio.
</audio>

!-->
<!--<div class="portada_asistencia">
    <h1 class="titulo">Asistencias:</h1>
<video autoplay loop muted id="videoFondo">
  <source src="/static/videos/misionbbvvvcp.mp4" type="video/mp4">

  Tu navegador no soporta la etiqueta de video.
</video>
</div>
<div class="portada_asistencia">
    </div>-->



<!-- CARROUSEL -->
<div class="container my-4" id="novedades">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Novedad 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Novedad 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Novedad 3"></button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner rounded shadow-lg">
      <div class="carousel-item active">
        <img src="/static/img/navidad_enbbvvvcp.png" class="d-block w-100 img-carrusel" alt="Novedad 1">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
          <h5>Área Materiales & Equipos</h5>
          <p>FELICES FIESTAS PARA TODOS !!!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/NOVEDAD_2.jpg" class="d-block w-100 img-carrusel" alt="Novedad 2">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
          <h5>Área sistemas</h5>
          <p>Control de registros de asistencias</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/gruposguardia.jpeg"
     class="d-block w-100 img-carrusel"
     style="object-fit: contain; background-color: #000;"
     alt="Novedad 3">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
          <h5>GRUPOS DE GUARDIA</h5>
          <p></p>
        </div>
      </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>



<script>
  function confirmSubmit() {

    return confirm('¿Está seguro de registrar esta información?');
  }
</script>

<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>



<div class="row">
    <div class="col-lg-6 col-md-12">
        <h1 class="text-center titulo_form_index titulo">FORMULARIO DE ASISTENCIAS</h1>

        {% if mostrar_formulario %}
        <form class="form_ins form_kitforestal" action="{{ url_for('asistencia') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
            <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

            <select class="form-control" id="tipo_registro" name="tipo_registro" required="required">
                <option value="" disabled selected>TIPO DE REGISTRO</option>
                <option value="INGRESO">INGRESO</option>
                <option value="SALIDA">SALIDA</option>
            </select>

            <select class="form-control" id="actividad" name="actividad" required="required">
                <option value="" disabled selected>ACTIVIDAD</option>
                <!-- Opciones de actividades... -->
                <option value="Patrulla">Patrulla</option>
                <option value="Guardia Obligatoria">Guardia Obligatoria 24 hs</option>
                <option value="Guardia Semanal 12hs">Guardia Semanal 12hs</option>
                <option value="Capacitacion">Capacitación</option>
                <option value="Reunion">Reunión</option>
                <option value="Refuerzo de Guardia">Refuerzo de Guardia</option>
                <option value="Convocatoria">Convocatoria</option>
                <option value="Orden de Servicio">Orden de Servicio</option>
                <option value="Practica">Práctica</option>
                <option value="Colaboracion fuera de juri">Colaboración Fuera de Jurisdicción</option>
                <option value="Inspecciones">Inspecciones</option>
                <option value="Matafuegos">Matafuegos</option>
                <option value="Tareas de área">Tareas de área</option>
                <option value="Acto/Ceremonia">Acto/Ceremonia</option>
                <option value="Off. de semana">Oficial de semana</option>
                <option value="Aspirantes">Aspirantes</option>
            </select>

            <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>
        {% else %}
        <div class="alert alert-warning text-center mt-4">
            <h5>⚠️ Solo podés registrar tu asistencia si estás conectado a la red del cuartel.</h5>
            <p>Contactá al administrador si necesitás registrar tu asistencia desde otra red.</p>
        </div>
        {% endif %}
    </div>

    <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="asistenciatablauser">
    <h2 class='titulo'>Personal en Base:</h2>
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>N° Legajo</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Hora</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias %}
  {% set agte = bomberos_dict.get(asistencia.dni) %}
  {% if agte and asistencia.actividad != 'Matafuegos' %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.legajo_numero }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.actividad }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>



        </tr>
        {% endif %}


        {% endfor %}
        </tbody>
    </table>
    </div>

</div>


{% if current_user.rol == 'admin' %}
<a href="{{ url_for('resumen_personal') }}"
   class="btn btn-success mb-3">
   📥 Resumen Personal
</a>


<h1 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h1>
        <form class="form_ins" action="{{ url_for('asistencia') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

        <select class="form-control" id="tipo_registro2" name="tipo_registro" placeholder="TIPO DE REGISTRO" required="required">
              <option value="" disabled selected>TIPO DE REGISTRO</option>
            <option value="INGRESO">INGRESO</option>
            <option value="SALIDA">SALIDA</option>
            <input type="date" name="fecha" id="fecha" required>
            <input type="time" name="hora" id="hora" required>

                    <select class="form-control" id="actividad2" name="actividad" placeholder="ACTIVIDAD" required="required">
    <option value="" disabled selected>ACTIVIDAD</option>
    <option value="Patrulla">Patrulla</option>
    <option value="Guardia Obligatoria">Guardia Obligatoria 24 hs</option>
    <option value="Guardia Semanal 12hs">Guardia Semanal 12hs</option>
    <option value="Capacitacion">Capacitación</option>
    <option value="Reunion">Reunión</option>
    <option value="Refuerzo de Guardia">Refuerzo de Guardia</option>
    <option value="Convocatoria">Convocatoria</option>
    <option value="Orden de Servicio">Orden de Servicio</option>
    <option value="Practica">Práctica</option>
    <option value="Colaboracion fuera de juri">Colaboración Fuera de Jurisdicción</option>
    <option value="Inspecciones">Inspecciones</option>
    <option value="Matafuegos">Matafuegos</option>
    <option value="Tareas de área">Tareas de área</option>
    <option value="Acto/Ceremonia">Acto/Ceremonia</option>

    <option value="Off. de semana">Oficial de semana</option>
    <option value="Aspirantes">Aspirantes</option>
</select>




        </select>


         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>



 <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="tablaasistencia_general">
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Editar</th>
            <th>Eliminar</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias_general %}
        {% set agte = bomberos_dict.get(asistencia.dni) %}
        {% if agte %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.actividad }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>
            <td>
                <!-- Botón para editar -->
                <a href="{{ url_for('editar_asistencia', id=asistencia.id_asistencia) }}" class="btn btn-info">Editar</a>
            </td>

            <td>
                <!-- Botón para eliminar -->
                <form id="asist_del" action="{{ url_for('eliminar_asistencia', id=asistencia.id_asistencia) }}" method="POST" onsubmit="return confirm('¿Estás seguro que deseas eliminar este registro?');">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>



        </tr>
        {% endif %}

        {% endfor %}
        </tbody>
    </table>
    </div>


{% endif %}

{% if current_user.rol != 'admin' %}
<div>
     <!-- Tabla de registros de asistencia -->
    <table border="1" id="registros_user">
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Tipo de Registro</th>
                <th>Actividad</th>
                <th>Fecha</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody>
            {% if asistencias_general %}
                {% for registro in asistencias_general %}
                    <tr>
                        <td>{{ registro.id_asistencia }}</td>
                        <td>{{ registro.dni }}</td>
                        <td>{{ registro.tipo_registro }}</td>
                        <td>{{ registro.actividad if registro.tipo_registro != 'SALIDA' else 'N/A' }}</td>
                        <td>{{ registro.fecha }}</td>
                        <td>{{ registro.hora }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No hay registros de asistencia disponibles.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endif %}


<!--
<h2>Cantidad segun Actividad</h2>
<div class="box">
    <canvas id="graficoAsistenciaPorActividad" width="400" height="200"></canvas>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Obtener los datos desde la ruta de Flask
    fetch("{{ url_for('asistencia_por_actividad') }}")
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoAsistenciaPorActividad').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Asistencias por Actividad',
                        data: data.values,
                        backgroundColor: 'rgb(1, 0, 255)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    }
                }
            });
        });
});
</script>

-->





<script>
    $(document).ready(function () {
        $('#tablaasistencia_general').DataTable();
        $('#asistenciatablauser').DataTable();
        $('#registros_user').DataTable();
    });
</script>
<script>
        setInterval(function() {
            var h2 = document.getElementById('miH202');
            h2.classList.toggle('cambio-color');
        }, 1000);
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tipoRegistro = document.getElementById("tipo_registro");
        const actividad = document.getElementById("actividad");

        tipoRegistro.addEventListener("change", function () {
            if (tipoRegistro.value === "SALIDA") {
                actividad.value = ""; // Limpia el campo
                actividad.disabled = true; // Desactiva el campo
                actividad.removeAttribute("required"); // Elimina el requisito de ser obligatorio
            } else {
                actividad.disabled = false; // Habilita el campo
                actividad.setAttribute("required", "required"); // Lo hace obligatorio nuevamente
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tipoRegistro = document.getElementById("tipo_registro2");
        const actividad = document.getElementById("actividad2");

        tipoRegistro.addEventListener("change", function () {
            if (tipoRegistro.value === "SALIDA") {
                actividad.value = ""; // Limpia el campo
                actividad.disabled = true; // Desactiva el campo
                actividad.removeAttribute("required"); // Elimina el requisito de ser obligatorio
            } else {
                actividad.disabled = false; // Habilita el campo
                actividad.setAttribute("required", "required"); // Lo hace obligatorio nuevamente
            }
        });
    });
</script>




{% endblock %}