{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 titulo">Registro de Cambios de Guardia</h2>



<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>

    <form method="POST" class="mb-5">
        <div class="row">
            <div class="col-md-4">
                <label for="tipo_solicitud">Tipo de Cambio de guardia</label>
                <select name="tipo_solicitud" class="form-control" id="tipo_solicitud" required>
                    <option value="">Seleccione</option>
                    <option value="cambio">Solicitud</option>
                    <option value="devolucion">Devolución</option>
                </select>
            </div>

            <div class="col-md-8">
                <label for="motivo">Motivo</label>
                <select name="motivo" class="form-control"  required>
                    <option value="">Seleccione</option>
                    <option value="Estudio">Estudio</option>
                    <option value="Trabajo">Trabajo</option>
                    <option value="Familiar">Familiar</option>
                    <option value="Salud">Salud</option>
                    <option value="Otro">Otro</option>
                    <option value="Devolucion">Devoluicion</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label for="fecha_ausencia">Fecha de Ausencia</label>
                <input type="date" name="fecha_ausencia" class="form-control" required>
            </div>
            <div class="col-md-4">
                <label for="hora_desde">Hora Desde</label>
                <input type="time" name="hora_desde" class="form-control" required>
            </div>
            <div class="col-md-4">
                <label for="hora_hasta">Hora Hasta</label>
                <input type="time" name="hora_hasta" class="form-control" required>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label for="legajo_quien_cubre">Legajo Quien Cubre</label>
                <input type="number" name="legajo_quien_cubre" class="form-control" required>
            </div>
            <div class="col-md-4">
                <label for="id_cambio_original">ID de Cambio Original (solo para devolución)</label>
                <input type="number" name="id_cambio_original" id="id_cambio_original" class="form-control" placeholder="Opcional para devolver un cambio">
            </div>
            <div class="col-md-4">
                <label for="jefe_guardia">jefe de guardia</label>
                <select class="form-control" name="jefe_guardia" id="jefe_guardia" required>
                    <option value="" disabled selected>Seleccione un bombero</option>
                    <!-- Sargentos -->
                    <option value="Sargento Perez">Sargento Perez</option>
                    <option value="Sargento Avari">Sargento Avari</option>
                    <option value="Sargento Speroni">Sargento Speroni</option>
                    <option value="Sargento Vogel">Sargento Vogel</option>
                    <!-- Cabos 1° -->
                    <option value="Cabo 1° Rivero">Cabo 1° Rivero</option>
                    <option value="Cabo 1° Petruzzi">Cabo 1° Petruzzi</option>
                    <option value="Cabo 1° Ludueña">Cabo 1° Ludueña</option>
                    <option value="Cabo 1° Torletti">Cabo 1° Torletti</option>
                    <option value="Cabo 1° Menendez">Cabo 1° Menendez</option>
                    <!-- Cabos -->
                    <option value="Cabo Cabrera">Cabo Cabrera</option>
                    <option value="Cabo Minicucci">Cabo Minicucci</option>
                    <option value="Cabo Zingoni V.">Cabo Zingoni V.</option>
                    <option value="Cabo Didier">Cabo Didier</option>
                    <!-- Bomberos -->
                    <option value="Bombero Gimenez">Bombero Gimenez</option>
                    <option value="Bombero Gonzalez">Bombero Gonzalez</option>
                    <option value="Bombero Pittuelli">Bombero Pittuelli</option>
                    <option value="Bombero Sanchez">Bombero Sanchez</option>
                    <option value="Bombero Zingoni">Bombero Zingoni</option>
                    <option value="Bombero Altamirano">Bombero Altamirano</option>
                    <option value="Bombero Paganoni">Bombero Paganoni</option>
                    <option value="Bombero Quevedo">Bombero Quevedo</option>
                    <option value="Bombero Villarreal">Bombero Villarreal</option>
                    <option value="Bombero Fernandez Barbero">Bombero Fernandez Barbero</option>
                    <option value="Bombero Fleita">Bombero Fleita</option>
                    <option value="Bombero Manganiello">Bombero Manganiello</option>
                    <option value="Bombero Kossoy">Bombero Kossoy</option>
                    <option value="Bombero Melian">Bombero Melian</option>
                    <option value="Bombero Nardi">Bombero Nardi</option>
                    <option value="Bombero Nuñez">Bombero Nuñez</option>
                    <option value="Bombero Soria">Bombero Soria</option>
                    <option value="Bombero Tapia">Bombero Tapia</option>
                    <option value="Bombero Zuliani">Bombero Zuliani</option>
                    <option value="Bombero Ponce">Bombero Ponce</option>
                    <option value="Bombero Armesto">Bombero Armesto</option>
                    <option value="Bombero Arguello">Bombero Arguello</option>
                    <option value="Bombero Didier">Bombero Didier</option>
                    <option value="Bombero Murúa">Bombero Murúa</option>
                    <option value="Bombero Pensa">Bombero Pensa</option>
                    <option value="Bombero Viviano">Bombero Viviano</option>
                    <option value="Bombero Zarandon">Bombero Zarandon</option>
                    <option value="Bombero Rivarola">Bombero Rivarola</option>
                </select>

            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>

    <hr>

    <h4 class="mb-3">Historial de Cambios</h4>
    <table class="table table-bordered table-hover table-responsive tabla_bomberos" id="tablacambiosguardia">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha Registro</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Solicitante</th>
                <th>Motivo</th>
                <th>Fecha Ausencia</th>
                <th>Jefe de guardia</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Quien Cubre</th>
                <th>Dev. de Cambio ID</th>
                <th>Estado de Cambio</th>
                {% if current_user.rol == 'admin' or current_user.rol == 'jefe_guardia' %}
                <th>Aprobacion</th>
                {% endif %}
                <th>Copiar</th>
                {% if current_user.rol == 'admin'%}
                <th>Eliminar</th>
                {% endif %}


            </tr>
        </thead>
        <tbody>
            {% for c in cambios %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.fecha }}</td>
                <td>{{ c.hora.strftime('%H:%M') }}</td>
                <td>{{ c.tipo_solicitud }}</td>
                <td>{{ usuarios.get(c.legajo_solicitante, 'Desconocido') }} ({{ c.legajo_solicitante }})</td>
                <td>{{ c.motivo }}</td>
                <td>{{ c.fecha_ausencia }}</td>
                <td>{{ c.jefe_guardia }}</td>
                <td>{{ c.hora_desde }}</td>
                <td>{{ c.hora_hasta }}</td>
                <td>{{ usuarios.get(c.legajo_quien_cubre, 'Desconocido') }} ({{ c.legajo_quien_cubre }})</td>
                <td>{{ c.id_cambio_original or '-' }}</td>
                <td>{{ c.estado_confirmacion.value }}</td>
                 {% if current_user.rol == 'admin' or current_user.rol == 'jefe_guardia' %}
                <td>
                        <a href="{{ url_for('confirmar_cobertura', id_cambio=c.id) }}" class="btn btn-primary btn-sm">
                        Confirmar Cobertura
                        </a>
                </td>


                {% else %}
        {{ c.estado_confirmacion.value|capitalize }}
    {% endif %}


                <td>
                    <button type="button"
    class="btn btn-primary copiar-cambio-guardia"
    data-tipo_solicitud="{{ c.tipo_solicitud }}"
    data-legajo_solicitante="{{ c.legajo_solicitante }}"
    data-apellido_solicitante="{{ usuarios.get(c.legajo_solicitante, 'Desconocido') }}"
    data-motivo="{{ c.motivo }}"
    data-fecha_ausencia="{{ c.fecha_ausencia }}"
    data-jefe_guardia="{{ c.jefe_guardia }}"
    data-hora_desde="{{ c.hora_desde }}"
    data-hora_hasta="{{ c.hora_hasta }}"
    data-legajo_quien_cubre="{{ c.legajo_quien_cubre }}"
    data-apellido_quien_cubre="{{ usuarios.get(c.legajo_quien_cubre, 'Desconocido') }}"
>
    Copiar Información
</button>


</td>
{% if current_user.rol == 'admin'%}
                <td><form action="{{ url_for('eliminar_cambio_guardia', id=c.id) }}" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro que quieres eliminar este cambio de guardia?');">Eliminar</button>
</form>
</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.querySelectorAll('.copiar-cambio-guardia').forEach(button => {
        button.addEventListener('click', function () {
            const tipoSolicitud = this.getAttribute('data-tipo_solicitud');
            const legajoSolicitante = this.getAttribute('data-legajo_solicitante');
            const motivo = this.getAttribute('data-motivo');
            const fechaAusencia = this.getAttribute('data-fecha_ausencia');
            const jefeguardia = this.getAttribute('data-jefe_guardia');
            const horaDesde = this.getAttribute('data-hora_desde');
            const horaHasta = this.getAttribute('data-hora_hasta');
            const legajoQuienCubre = this.getAttribute('data-legajo_quien_cubre');
            const apellidoSolicitante = this.getAttribute('data-apellido_solicitante');
            const apellidoQuienCubre = this.getAttribute('data-apellido_quien_cubre');

            const formato = `
🛡️ Registro de Cambio de Guardia
- Tipo de Solicitud: ${tipoSolicitud}
- Legajo Solicitante: ${legajoSolicitante} (${apellidoSolicitante})
- Motivo: ${motivo}
- Fecha de Ausencia: ${fechaAusencia}
- Jefe de Guardia: ${jefeguardia}
- Desde: ${horaDesde}
- Hasta: ${horaHasta}
- Cubre Legajo: ${legajoQuienCubre} (${apellidoQuienCubre})
`;

            navigator.clipboard.writeText(formato.trim()).then(() => {
                alert('Información copiada al portapapeles');
            }).catch(err => {
                alert('Hubo un error al copiar la información: ', err);
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#tablacambiosguardia').DataTable();
    });
</script>

<script>
        setInterval(function() {
            var h2 = document.getElementById('miH202');
            h2.classList.toggle('cambio-color');
        }, 1000);
</script>


<script>
    const tipoSolicitud = document.getElementById('tipo_solicitud');
    const idCambioOriginal = document.getElementById('id_cambio_original');

    tipoSolicitud.addEventListener('change', function() {
        if (this.value === 'devolucion') {
            idCambioOriginal.disabled = false;
        } else {
            idCambioOriginal.disabled = true;
            idCambioOriginal.value = ''; // Limpiar el valor si lo deshabilitamos
        }
    });
</script>


{% endblock %}