{% extends "base.html" %}
{% block content %}

<script>
  function confirmSubmit() {

    return confirm('¿Está seguro de registrar esta información?');
  }
</script>

<div class="portada_comunicaciones">


</div>


<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>


<div class="row">

       <div class="col-md-6">
           <a href="{{ url_for('salidas') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/legajos.jpg') }}'); background-size: cover;">Salidas</a>
       </div>

    <div class="col-md-6">
           <a href="{{ url_for('llegadas') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/legajos.jpg') }}'); background-size: cover;">Llegadas</a>
       </div>
</div>
<hr>
<div class="row">
      <div class="col-lg-6 col-md-12">

           <h3 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h3>
        <form class="form_ins" action="{{ url_for('centralistas') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

        <select class="form-control" name="tipo_registro" placeholder="TIPO DE REGISTRO" required="required">
              <option value="" disabled selected>TIPO DE REGISTRO</option>
            <option value="INGRESO">INGRESO</option>
            <option value="SALIDA">SALIDA</option>

        </select>


         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>

      </div>

    <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="asistenciatablauser">
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Fecha</th>
            <th>Hora</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias %}
        {% for agte in bravo %}
        {% if asistencia.dni == agte.dni %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>



        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>

{% if current_user.rol == 'admin' %}

<h3 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h3>
        <form class="form_ins" action="{{ url_for('centralistas') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

        <select class="form-control" name="tipo_registro" placeholder="TIPO DE REGISTRO" required="required">
              <option value="" disabled selected>TIPO DE REGISTRO</option>
            <option value="INGRESO">INGRESO</option>
            <option value="SALIDA">SALIDA</option>
            <input type="date" name="fecha" id="fecha" required>
            <input type="time" name="hora" id="hora" required>



        </select>


         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>



 <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="tablaasistencia_general">
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Eliminar</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias_general %}
        {% for agte in bravo %}
        {% if asistencia.dni == agte.dni %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>
            {% if current_user.rol in ['admin', 'automotor'] %}
            <td>
                <form action="{{ url_for('eliminar_centralista', id=asistencia.id_asistencia) }}"
                      method="POST"
                      onsubmit="return confirm('¿Seguro que deseas eliminar este registro?');">
                    <button type="submit" class="btn btn-danger btn-sm">
                        🗑 Eliminar
                    </button>
                </form>
            </td>
            {% endif %}





        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>


{% endif %}



<div class="grafico_central">
    <h1>Horas Trabajadas por Centralista en {{ mes_actual }}</h1>

    <canvas id="centralistasChart" width="300" height="100"></canvas>

    <script>
        var ctx = document.getElementById('centralistasChart').getContext('2d');

        // Cargar los datos desde el servidor
        var chartData = {{ data | tojson }};

        // Inicializar etiquetas y datos
        var labels = [];
        var data = [];

        for (var apellido in chartData) {
            labels.push(apellido);  // Añadir apellidos como etiquetas
            data.push(chartData[apellido]["{{ mes_actual }}"]);  // Añadir las horas trabajadas solo para el mes actual
        }

        // Crear el gráfico de barras
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,  // Apellidos
                datasets: [{
                    label: 'Horas Trabajadas',
                    data: data,  // Horas trabajadas por centralista en el mes actual
                    backgroundColor: 'rgba(255, 0, 13, 0.64)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>

<!-- Tabla que muestra los apellidos y horas trabajadas -->
<div class="tabla_horas">
    <h2>Resumen de Horas Trabajadas en {{ mes_actual }}</h2>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Horas Trabajadas</th>
            </tr>
        </thead>
        <tbody>
            {% for apellido, horas in data.items() %}
            <tr>
                <td>{{ apellido }}</td>
                <td>{{ horas[mes_actual] }}</td>  <!-- Mostrar las horas del mes actual -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tablaasistencia_general').DataTable();
        $('#asistenciatablauser').DataTable();
    });
</script>

{% endblock %}