{% extends "base.html" %}
{% block content %}

<script>
  function confirmSubmit() {

    return confirm('¿Está seguro de registrar esta información?');
  }
</script>

<div class="portada_comunicaciones">


</div>


<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>


<div class="row">

       <div class="col-md-6">
           <a href="{{ url_for('salidas') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/legajos.jpg') }}'); background-size: cover;">Salidas</a>
       </div>

    <div class="col-md-6">
           <a href="{{ url_for('llegadas') }}" class="btn btn-info boton" style="background-image: url('{{ url_for('static', filename='img/legajos.jpg') }}'); background-size: cover;">Llegadas</a>
       </div>
</div>
<hr>
<div class="row">
      <div class="col-lg-6 col-md-12">

           <h3 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h3>
        <form class="form_ins" action="{{ url_for('centralistas') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

        <select class="form-control" name="tipo_registro" placeholder="TIPO DE REGISTRO" required="required">
              <option value="" disabled selected>TIPO DE REGISTRO</option>
            <option value="INGRESO">INGRESO</option>
            <option value="SALIDA">SALIDA</option>

        </select>


         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>

      </div>

    <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="asistenciatablauser">
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Fecha</th>
            <th>Hora</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias %}
        {% for agte in bravo %}
        {% if asistencia.dni == agte.dni %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>



        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>

{% if current_user.rol == 'admin' %}

<h3 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h3>
        <form class="form_ins" action="{{ url_for('centralistas') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" />

        <select class="form-control" name="tipo_registro" placeholder="TIPO DE REGISTRO" required="required">
              <option value="" disabled selected>TIPO DE REGISTRO</option>
            <option value="INGRESO">INGRESO</option>
            <option value="SALIDA">SALIDA</option>
            <input type="date" name="fecha" id="fecha" required>
            <input type="time" name="hora" id="hora" required>



        </select>


         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>



 <div class="col-lg-6 col-md-12">
<table class="tabla_agentes" id="tablaasistencia_general">
        <thead>
        <tr>
            <th>DNI Registrado</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de registro</th>
            <th>Fecha</th>
            <th>Hora</th>


        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias_general %}
        {% for agte in bravo %}
        {% if asistencia.dni == agte.dni %}

        <tr>
            <td>{{ asistencia.dni }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.tipo_registro }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>



        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>


{% endif %}



<div class="grafico_central">

 <h1>Horas Trabajadas por Centralista</h1>

    <canvas id="centralistasChart" width="300" height="100"></canvas>

    <script>
        var ctx = document.getElementById('centralistasChart').getContext('2d');
        var chartData = {{ data | tojson }};
        var labels = [];
        var datasets = [];

        // Preparar los labels (meses) y los datasets (horas trabajadas por centralista)
        for (var apellido in chartData) {
            var centralistaData = chartData[apellido];
            var dataset = {
                label: apellido,
                data: [],
                backgroundColor: 'rgba(255, 0, 13, 0.64)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2
            };
            for (var mes in centralistaData) {
                if (!labels.includes(mes)) {
                    labels.push(mes);
                }
                dataset.data.push(centralistaData[mes]);
            }
            datasets.push(dataset);
        }

        // Crear el gráfico de barras
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


 </div>

<script>
    $(document).ready(function () {
        $('#tablaasistencia_general').DataTable();
        $('#asistenciatablauser').DataTable();
    });
</script>

{% endblock %}