{% extends "base.html" %}

{% block content %}


<div class="organig">
  <h1 class="titulo">Contactos</h1>
</div>


<div class="contact-containe">
        <h1>Teléfonos Útiles</h1>

        <section>
            <h2>Ambulancias</h2>
            <ul>
                <li><strong>Vittal:</strong> 421700 / 0810 888 4217</li>
                <li><strong>SAMU:</strong> 431331 / 431181 / 0351 155181004</li>
                <li><strong>Hospital Municipal Sayago:</strong> 107 / 436446</li>
                <li><strong>Mutual de Taxi:</strong> 423048</li>
                <li><strong>Parque Salud (ECCO):</strong> 0810 555 8080</li>
                <li><strong>Ambulancia de Villa Santa Cruz del Lago y Estancia Vieja (Rodrigo Moreno):</strong> 03541 15372674</li>
                <li><strong>Hospital Funes:</strong> 489676 / 03541 488900</li>
                <li><strong>Apross:</strong> 0351 4201700 / 0810 777 2985 / 0800 888 2776</li>
                <li><strong>PAMI:</strong> 138 / 139 / 0800 333 0234</li>
            </ul>
        </section>

        <section>
            <h2>Camino de las Sierras (R.A.C.)</h2>
            <p><strong>Accidentes y derrame de combustible en autopista/colectora:</strong> 0351 155504514</p>
        </section>

        <section>
            <h2>Central de Defensa Civil Córdoba</h2>
            <ul>
                <li>0800 888 8346</li>
                <li>0351 4343632</li>
                <li>0351 156662665</li>
                <li>0351 4333236</li>
                <li><strong>Defensa Civil entre Merlino y la Curva de la Zorra (Pedernera):</strong> 03541 15531645</li>
            </ul>
        </section>

        <section>
            <h2>Cuarteles de Bomberos</h2>
            <ul>
                <li><strong>Bialet Massé:</strong> 0351 153073806</li>
                <li><strong>Cosquín:</strong> 453030</li>
                <li><strong>Icho Cruz:</strong> 495777</li>
                <li><strong>La Calera:</strong> 03543 460832</li>
                <li><strong>Malagueño:</strong> 0351 4981100</li>
                <li><strong>Santa María de Punilla:</strong> 481056</li>
                <li><strong>Tanti:</strong> 03541 15693789</li>
            </ul>
        </section>

        <section>
            <h2>Guardias Varias</h2>
            <ul>
                <li><strong>Agua:</strong> 436430 / 436304</li>
                <li><strong>BOGAMAC Ascensores:</strong> 0351 153068664 / 0351 156865061</li>
                <li><strong>Carlos Paz Gas:</strong> 439132 / 03541 15523555 / 0800 444 1289</li>
                <li><strong>Country Lago Azul:</strong> 494067 / 03541 15645277</li>
                <li><strong>EPEC:</strong> 439511 / 439512 / 439514 / 0800 777 0000</li>
                <li><strong>Tierra Alta:</strong> 0351 152555528</li>
            </ul>
        </section>

        <section>
            <h2>Municipalidad</h2>
            <p><strong>Mantenimiento:</strong> 147 / 436410</p>
        </section>

        <section>
            <h2>Policía</h2>
            <ul>
                <li><strong>Patrulla (C.A.P.):</strong> 438215 / 438213</li>
                <li><strong>Base Operativa de Policía Judicial Córdoba:</strong> 0351 155642880</li>
                <li><strong>Caminera:</strong> 0351 4287378 / 0351 155869029</li>
                <li><strong>D.U.A.R.:</strong> 106 / 438210</li>
                <li><strong>Estancia Vieja:</strong> 0351 153144582 / 03541 15200081 / 03541 15200089</li>
                <li><strong>Policía:</strong> 911 / 101</li>
                <li><strong>Villa Santa Cruz del Lago:</strong> 494340</li>
                <li><strong>Comisario Eduardo Coronel:</strong> 0351 152488739</li>
            </ul>
        </section>

        <section>
            <h2>Rescate Animal</h2>
            <ul>
                <li><strong>Apicultor:</strong> 0351 156617062 (Franco, sin costo en V.C.P., Tanti y Cosquín) / 0351 153351025 (Alejandro, con costo) / 03541 15534651 (Marcelo Salu)</li>
                <li><strong>Caniles:</strong> 484700</li>
                <li><strong>Fauna Silvestre:</strong> 0351 4343310 (interno 214)</li>
                <li><strong>FUPA:</strong> 03541 15316389 / 03541 581313 (Marina Poncio)</li>
                <li><strong>IPAD:</strong> 421556 / 03541 15371062 (Gloria)</li>
                <li><strong>Ofidios, Alacranes y Arañas:</strong> 03541 15551556 (Eduardo, sin costo)</li>
                <li><strong>Patrulla Ambiental:</strong> 0351 153108709 / 0351 4344163</li>
                <li><strong>Solo Aves - Levantando Vuelo:</strong> 03541 15235486 (Alenka García)</li>
            </ul>
        </section>

        <section>
            <h2>Seguridad Urbana</h2>
            <ul>
                <li>103 / 105 / 425500 / 424480 / 03541 15528817</li>
            </ul>
        </section>
</div>

<div class="row organig organigramaimagen">
  <div class="col-12">
    <img src="{{ url_for('static', filename='img/Organigrama_general.png') }}" alt="Organigrama General" class="organigrama1 img-fluid" >
  </div>
  <hr>
  <div class="col-12">
    <img src="{{ url_for('static', filename='img/Organigrama_departamentos.png') }}" alt="Organigrama General" class="organigrama2 img-fluid">
  </div>
</div>

<div class="organig">
  <h1 class="titulo">Cuentas de Correos</h1>
  <div class="accordion accordion-flush accordion-custom" id="accordionFlushExample">
  <!-- Materiales y Equipos -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMateriales" aria-expanded="false" aria-controls="flush-collapseMateriales">
        Materiales y Equipos
      </button>
    </h2>
    <div id="flush-collapseMateriales" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:materialesyequipo@bomberosvillacarlospaz.org.ar">materialesyequipo@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Automotores -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAutomotores" aria-expanded="false" aria-controls="flush-collapseAutomotores">
        Automotores
      </button>
    </h2>
    <div id="flush-collapseAutomotores" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:automotores@bomberosvillacarlospaz.org.ar">automotores@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Capacitacion -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCapacitacion" aria-expanded="false" aria-controls="flush-collapseCapacitacion">
        Capacitación
      </button>
    </h2>
    <div id="flush-collapseCapacitacion" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:capacitacion@bomberosvillacarlospaz.org.ar">capacitacion@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Comunicaciones -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseComunicaciones" aria-expanded="false" aria-controls="flush-collapseComunicaciones">
        Comunicaciones
      </button>
    </h2>
    <div id="flush-collapseComunicaciones" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:comunicaciones@bomberosvillacarlospaz.org.ar">comunicaciones@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Documentacion -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDocumentacion" aria-expanded="false" aria-controls="flush-collapseDocumentacion">
        Documentación
      </button>
    </h2>
    <div id="flush-collapseDocumentacion" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:documentacion@bomberosvillacarlospaz.org.ar">documentacion@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Infraestructura -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInfraestructura" aria-expanded="false" aria-controls="flush-collapseInfraestructura">
        Infraestructura
      </button>
    </h2>
    <div id="flush-collapseInfraestructura" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:infraestructura@bomberosvillacarlospaz.org.ar">infraestructura@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Inspecciones -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInspecciones" aria-expanded="false" aria-controls="flush-collapseInspecciones">
        Inspecciones
      </button>
    </h2>
    <div id="flush-collapseInspecciones" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:inspecciones@bomberosvillacarlospaz.org.ar">inspecciones@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Logistica -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseLogistica" aria-expanded="false" aria-controls="flush-collapseLogistica">
        Logística
      </button>
    </h2>
    <div id="flush-collapseLogistica" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:logistica@bomberosvillacarlospaz.org.ar">logistica@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Prehospitalario -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePrehospitalario" aria-expanded="false" aria-controls="flush-collapsePrehospitalario">
        Prehospitalario
      </button>
    </h2>
    <div id="flush-collapsePrehospitalario" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:prehospitalario@bomberosvillacarlospaz.org.ar">prehospitalario@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Protocolo -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseProtocolo" aria-expanded="false" aria-controls="flush-collapseProtocolo">
        Protocolo
      </button>
    </h2>
    <div id="flush-collapseProtocolo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:protocolo@bomberosvillacarlospaz.org.ar">protocolo@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Socorrismo -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSocorrismo" aria-expanded="false" aria-controls="flush-collapseSocorrismo">
        Socorrismo
      </button>
    </h2>
    <div id="flush-collapseSocorrismo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:socorrismo@bomberosvillacarlospaz.org.ar">socorrismo@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Incendio y Rescate -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseIncendioyRescate" aria-expanded="false" aria-controls="flush-collapseIncendioyRescate">
        Incendio y Rescate
      </button>
    </h2>
    <div id="flush-collapseIncendioyRescate" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:incendioyrescate@bomberosvillacarlospaz.org.ar">incendioyrescate@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Incendio Forestal -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseIncendioForestal" aria-expanded="false" aria-controls="flush-collapseIncendioForestal">
        Incendio Forestal
      </button>
    </h2>
    <div id="flush-collapseIncendioForestal" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:incendioforestal@bomberosvillacarlospaz.org.ar">incendioforestal@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Psicología de la Emergencia -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePsicologiaEmergencia" aria-expanded="false" aria-controls="flush-collapsePsicologiaEmergencia">
        Psicología de la Emergencia
      </button>
    </h2>
    <div id="flush-collapsePsicologiaEmergencia" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:psicologiadelaemergencia@bomberosvillacarlospaz.org.ar">psicologiadelaemergencia@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Organización Bomberil -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOrganizacionBomberil" aria-expanded="false" aria-controls="flush-collapseOrganizacionBomberil">
        Organización Bomberil
      </button>
    </h2>
    <div id="flush-collapseOrganizacionBomberil" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:organizacionbomberil@bomberosvillacarlospaz.org.ar">organizacionbomberil@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Rescate Vehicular -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRescateVehicular" aria-expanded="false" aria-controls="flush-collapseRescateVehicular">
        Rescate Vehicular
      </button>
    </h2>
    <div id="flush-collapseRescateVehicular" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:rescatevehicular@bomberosvillacarlospaz.org.ar">rescatevehicular@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Rescate Acuático -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRescateAcuatico" aria-expanded="false" aria-controls="flush-collapseRescateAcuatico">
        Rescate Acuático
      </button>
    </h2>
    <div id="flush-collapseRescateAcuatico" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:rescateacuatico@bomberosvillacarlospaz.org.ar">rescateacuatico@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Rescate con Cuerdas -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRescateCuerdas" aria-expanded="false" aria-controls="flush-collapseRescateCuerdas">
        Rescate con Cuerdas
      </button>
    </h2>
    <div id="flush-collapseRescateCuerdas" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:rescateconcuerdas@bomberosvillacarlospaz.org.ar">rescateconcuerdas@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Rescate Animal -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRescateAnimal" aria-expanded="false" aria-controls="flush-collapseRescateAnimal">
        Rescate Animal
      </button>
    </h2>
    <div id="flush-collapseRescateAnimal" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:rescateanimal@bomberosvillacarlospaz.org.ar">rescateanimal@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Materiales Peligrosos -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMaterialesPeligrosos" aria-expanded="false" aria-controls="flush-collapseMaterialesPeligrosos">
        Materiales Peligrosos
      </button>
    </h2>
    <div id="flush-collapseMaterialesPeligrosos" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:materialespeligrosos@bomberosvillacarlospaz.org.ar">materialespeligrosos@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Meteorología -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMeteorologia" aria-expanded="false" aria-controls="flush-collapseMeteorologia">
        Meteorología
      </button>
    </h2>
    <div id="flush-collapseMeteorologia" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:meteorologia@bomberosvillacarlospaz.org.ar">meteorologia@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Jefatura -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseJefatura" aria-expanded="false" aria-controls="flush-collapseJefatura">
        Jefatura
      </button>
    </h2>
    <div id="flush-collapseJefatura" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:jefatura@bomberosvillacarlospaz.org.ar">jefatura@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Comisión Directiva -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseComisionDirectiva" aria-expanded="false" aria-controls="flush-collapseComisionDirectiva">
        Comisión Directiva
      </button>
    </h2>
    <div id="flush-collapseComisionDirectiva" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:comisiondirectiva@bomberosvillacarlospaz.org.ar">comisiondirectiva@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Operaciones -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOperaciones" aria-expanded="false" aria-controls="flush-collapseOperaciones">
        Operaciones
      </button>
    </h2>
    <div id="flush-collapseOperaciones" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:operaciones@bomberosvillacarlospaz.org.ar">operaciones@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Preparación Física -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePreparacionFisica" aria-expanded="false" aria-controls="flush-collapsePreparacionFisica">
        Preparación Física
      </button>
    </h2>
    <div id="flush-collapsePreparacionFisica" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:preparacionfisica@bomberosvillacarlospaz.org.ar">preparacionfisica@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>

  <!-- Sistemas -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSistemas" aria-expanded="false" aria-controls="flush-collapseSistemas">
        Sistemas
      </button>
    </h2>
    <div id="flush-collapseSistemas" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="mailto:sistemas@bomberosvillacarlospaz.org.ar">sistemas@bomberosvillacarlospaz.org.ar</a>
      </div>
    </div>
  </div>
</div>
</div>






{% endblock %}