{% extends "base.html" %}

{% block content %}
<h1>Editar Llegada</h1>
<form action="{{ url_for('editar_llegada', id=llegada.id_llegada) }}" method="post">
  <!--  <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" name="fecha" value="{{ llegada.fecha }}" required>
    </div> !-->
    <div class="form-group">
        <label for="unidad">Unidad</label>
        <select name="unidad" class="form-select" required>
            <option value="{{ llegada.unidad }}" selected>{{ llegada.unidad }}</option>
            <option value="B2">B2</option>
            <option value="B3">B3</option>
            <option value="B4">B4</option>
            <option value="BF1">BF1</option>
            <option value="BR1">BR1</option>
            <option value="E1">E1</option>
            <option value="F2">F2</option>
            <option value="F3">F3</option>
            <option value="R1">R1</option>
            <option value="R8">R8</option>
            <option value="LS1">LS1</option>
        </select>
    </div>

    <div class="form-group">
        <label for="numero_alarma">Número de Alarma</label>
        <input type="text" class="form-control" name="numero_alarma" value="{{ llegada.numero_alarma or '' }}">
    </div>

    <div class="form-group">
        <label for="a_cargo">A Cargo</label>
        <input type="text" class="form-control" name="a_cargo" value="{{ llegada.a_cargo or '' }}">
    </div>

    <div class="form-group">
        <label for="hora_salida">Hora de Salida</label>
        <input type="time" class="form-control" name="hora_salida" value="{{ llegada.hora_salida }}" required>
    </div>
    <div class="form-group">
        <label for="hora_llegada">Hora de Llegada</label>
        <input type="time" class="form-control" name="hora_llegada" value="{{ llegada.hora_llegada }}" required>
    </div>
    <div class="form-group">
        <label for="novedades">Novedades</label>
        <textarea class="form-control" name="novedades">{{ llegada.novedades }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar Llegada</button>
</form>





{% endblock %}
