{% extends "base.html" %}

{% block content %}
    <h1>Listado de BOMBEROS</h1>
<div class="box">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>

    {% if bomberos %}
        <table class="table tabla_bomberos table-responsive" id="bomberosTable">
            <thead>
                <tr>
                    <th>Legajo Número</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Teléfono</th>
                    <th>Teléfono Alternativo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Domicilio</th>
                    <th>Email</th>
                    <th>Jerarquía</th>
                    <th>Grupo Sanguíneo</th>
                    <th>Alergia</th>
                    <th>Camada</th>
                    <th>Registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for bombero in bomberos %}
                    <tr>
                        <td>{{ bombero.legajo_numero }}</td>
                        <td>{{ bombero.apellido }}</td>
                        <td>{{ bombero.nombre }}</td>
                        <td>{{ bombero.dni }}</td>
                        <td>{{ bombero.telefono }}</td>
                        <td>{{ bombero.telefono_alternativo }}</td>
                        <td>{{ bombero.fecha_nacimiento }}</td>
                        <td>{{ bombero.domicilio }}</td>
                        <td>{{ bombero.email }}</td>
                        <td>{{ bombero.rol }}</td>
                        <td>{{ bombero.grupo_sanguineo }}</td>
                        <td>{{ bombero.alergia }}</td>
                        <td>{{ bombero.camada }}</td>
                        <td>{{ bombero.registro }}</td>
                        <td>
                            <a href="{{ url_for('edit_legajo', id=bombero.legajo_numero) }}" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
<br>
<hr class="separadorhr">

<h2>Licencias de Conducir</h2>
    <table class="table tabla_bomberos+ table-responsive" id="licenciaTable">
        <thead>
            <tr>
                <th>Número de Legajo</th>
                <th>Tipo</th>
                <th>Fecha de Otorgación</th>
                <th>Fecha de Vencimiento</th>
                <th>Observación</th>
                <th>Licencia Frente</th>
                <th>Licencia Dorso</th>
            </tr>
        </thead>
        <tbody>
            {% for licencia in licencias %}
            <tr>
                <td>{{ licencia.numero_legajo }}</td>
                <td>{{ licencia.tipo }}</td>
                <td>{{ licencia.fecha_otorgacion }}</td>
                <td>{{ licencia.fecha_vencimiento }}</td>
                <td>{{ licencia.observacion }}</td>
                <td>
                    {% if licencia.lic_frente %}
                    <a href="{{ url_for('static', filename=licencia.lic_frente|replace_backslash) }}" target="_blank">
                    <img src="{{ url_for('static', filename=licencia.lic_frente|replace_backslash) }}" alt="Licencia Frente" style="width:100px;">
                    {% else %}
                    No disponible
                    {% endif %}
                 </td>
                <td>
                    {% if licencia.lic_dorso %}
                    <a href="{{ url_for('static', filename=licencia.lic_dorso|replace_backslash) }}" target="_blank">
                    <img src="{{ url_for('static', filename=licencia.lic_dorso|replace_backslash) }}" alt="Licencia Dorso" style="width:100px;">
                    </a>
                    {% else %}
                    No disponible
                    {% endif %}
                 </td>
                <td>
                    <a href="{{ url_for('edit_licencia', id=licencia.numero_legajo) }}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay bomberos registrados.</p>
    {% endif %}







    <script>
        $(document).ready(function () {
            $('#bomberosTable').DataTable();
        });
    </script>


<script>
        $(document).ready(function () {
            $('#licenciaTable').DataTable();
        });
    </script>





{% endblock %}
