{% extends "base.html" %}

{% block content %}




</form>

<div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="mensaa alert alert-light">
        <ul class="list-unstyled">
        {% for message in messages %}
        <li> <h2 id="miH202">{{ message }}</h2></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
</div>
{% if current_user.rol == 'admin' %}
<div class="box">
    <div class="container">
	<h3 class="titulo">Registro</h3>
    <form action="{{ url_for('register') }}" method="post">
    	<input type="text" name="name" placeholder="Nombre" required="required" />
		<input type="email" name="email" placeholder="Email" required="required" />
        <input type="number" name="numero_legajo" placeholder="Número de legajo" required="required">
        <input type="password" name="password" placeholder="Password" required="required" />
        <input type="text" name="telefono" placeholder="Telefono" required="required">
        <label for="role">Role:</label>
    <select name="role" id="role">
        <option value="usuario">Usuario</option>
        <option value="admin">Admin</option>
    </select>
        <button type="submit" class="btn btn-primary  btn-lg">Registrarme.</button>
    </form>
        </div>
</div>

{% endif %}



<div>
    <h3 class="titulo">Modificar contraseña</h3>
</div>
<form action="/update-password" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="current_password">Contraseña Actual:</label>
    <input type="password" id="current_password" name="current_password" required>
    <label for="new_password">Nueva Contraseña:</label>
    <input type="password" id="new_password" name="new_password" required>
    <button type="submit">Actualizar Contraseña</button>
</form>

{% endblock %}