{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="titulo">Resumen de Horas – Centralistas</h2>
    <h4 class="text-muted">{{ mes }}</h4>

    <table class="table table-bordered table-striped mt-4" id="tabla_resumen">
        <thead class="table-dark">
            <tr>
                <th>DNI</th>
                <th>Apellido</th>
                <th>Horas</th>
                <th>Minutos</th>
            </tr>
        </thead>
        <tbody>
            {% for r in resumen %}
            <tr>
                <td>{{ r.dni }}</td>
                <td>{{ r.apellido }}</td>
                <td>{{ r.horas }}</td>
                <td>{{ r.minutos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<h3 class="mt-5">Control de Registros</h3>

<table class="table table-bordered table-striped mt-3" id="tabla_control">
    <thead class="table-dark">
        <tr>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Ingresos</th>
            <th>Salidas</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for r in control %}
        {% set diferencia = r.total_ingresos - r.total_salidas %}
        <tr class="{% if diferencia != 0 %}table-danger{% else %}table-success{% endif %}">
            <td>{{ r.dni }}</td>
            <td>{{ r.apellido }}</td>
            <td>{{ r.total_ingresos }}</td>
            <td>{{ r.total_salidas }}</td>
            <td>
                {% if diferencia == 0 %}
                    ✅ OK
                {% else %}
                    ⚠ Diferencia: {{ diferencia }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<script>
    $(document).ready(function () {
        $('#tabla_resumen').DataTable({
            paging: false,
            searching: false,
            info: false
        });
    });

$('#tabla_control').DataTable({
    paging: false,
    searching: false,
    info: false
});
</script>

{% endblock %}
