{% extends "base.html" %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

</div>

<a href="{{ url_for('centralistas') }}" class="btn btn-secondary mt-3">Volver a Comunicaciones</a>


<form action="{{ url_for('salidas') }}" method="post">
    <h1 class="titulo">SALIDAS</h1>
    <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" name="fecha" required id="fecha">
    </div>
    <div class="form-group">
        <label for="hora">Hora</label>
        <input type="time" class="form-control" name="hora" id="hora" required>
    </div>
    <div class="form-group">

        <select name="unidad" class="form-select" required>
                    <option value="" disabled selected> Nombre de la Unidad</option>
                    <option value="B2">B2</option>
                    <option value="B3">B3</option>
                    <option value="B4">B4</option>
                    <option value="BF1">BF1</option>
                    <option value="BR1">BR1</option>
                    <option value="E1">E1</option>
                    <option value="F2">F2</option>
                    <option value="F3">F3</option>
                    <option value="R1">R1</option>
                    <option value="R8">R8</option>
                    <option value="LS1">LS1</option>

                </select>
    </div>






    <div class="form-group">

    <select class="form-control" name="tipo_alarma" id="tipo_alarma" required>
        <option value="" disabled selected>Seleccionar tipo de alarma</option>
        <!-- Incendios -->
        <option value="10/10">INCENDIO DE CAMPO</option>
        <option value="10/11 A">INCENDIO DE BALDIO</option>
        <option value="10/11 B">INCENDIO DE ÁRBOL</option>
        <option value="10/11 C">INCENDIO DE GOMAS</option>
        <option value="10/12">INCENDIO DE QUINCHO</option>
        <option value="10/13 A">INCENDIO DE CASA</option>
        <option value="10/13 B">INCENDIO DE COMERCIO</option>
        <option value="10/13 C">INCENDIO DE FÁBRICA</option>
        <option value="10/13 D">INCENDIO DE VARIOS</option>
        <option value="10/14 A">INCENDIO DE AUTO</option>
        <option value="10/14 B">INCENDIO DE COLECTIVO</option>
        <option value="10/14 C">INCENDIO DE CAMIÓN</option>
        <option value="10/14 D">INCENDIO DE MOTO</option>
        <option value="10/15">INCIDENTE HAZMAT (MATERIALES PELIGROSOS)</option>
        <option value="10/16">VARIOS</option>
        <!-- Rescates -->
        <option value="20/20 A">RESCATE VEHICULAR AUTOMÓVIL</option>
        <option value="20/20 B">RESCATE VEHICULAR COLECTIVO</option>
        <option value="20/20 C">RESCATE VEHICULAR CAMIÓN</option>
        <option value="20/20 D">RESCATE VEHICULAR MOTOCICLETA</option>
        <option value="20/20 E">RESCATE VEHICULAR BICICLETA</option>
        <option value="20/21">RESCATE DE ANIMAL</option>
        <option value="20/22">RESCATE DE CADÁVER</option>
        <option value="20/24">RESCATE DE PERSONA EN DOMICILIO</option>
        <option value="20/24 A">RESCATE DE PERSONA EN RÍO</option>
        <option value="20/24 B">RESCATE DE PERSONA EN LAGO</option>
        <option value="20/24 C">RESCATE DE PERSONA EN MONTAÑA</option>
        <option value="20/24 D">RESCATE DE PERSONA EN VÍA PÚBLICA</option>
        <option value="20/26">INUNDACIÓN</option>
        <option value="20/27">DERRUMBE</option>
        <!-- Otros -->
        <option value="TRAMITES">TRAMITES</option>
        <option value="PATRULLAJE">PATRULLAJE</option>
        <option value="CAPACITACIONES">CAPACITACIONES</option>
        <option value="LOGISITCA">LOGISTICA</option>
        <option value="MATAFUEGOS">MATAFUEGOS</option>
        <option value="INSPECCIONES">INSPECCIONES</option>
        <option value="CARGA_COMBUSTIBLE">CARGA COMBUSTIBLE</option>
        <option value="OTROS">OTROS</option>

    </select>
</div>
<div class="form-group" id="campo-observaciones" style="display: none;">
  <label for="observaciones">Observaciones</label>
  <textarea class="form-control" name="observaciones" id="observaciones" rows="3">{{ salida.observaciones if salida else '' }}</textarea>
</div>



    <div class="form-group">

        <input type="number" class="form-control" name="numero_alarma" placeholder="Numero de Alarma">
    </div>




    <div class="form-group">
    <label for="a_cargo">A Cargo</label>
    <select class="form-control" name="a_cargo" id="a_cargo" required>
        <option value="" disabled selected>Seleccione un bombero</option>
        <!-- Sargentos -->
        <option value="Sargento Perez">Sargento Perez</option>
        <option value="Sargento Avari">Sargento Avari</option>
        <option value="Sargento Speroni">Sargento Speroni</option>
        <option value="Sargento Vogel">Sargento Vogel</option>
        <!-- Cabos 1° -->
        <option value="Cabo 1° Rivero">Cabo 1° Rivero</option>
        <option value="Cabo 1° Petruzzi">Cabo 1° Petruzzi</option>
        <option value="Cabo 1° Ludueña">Cabo 1° Ludueña</option>
        <option value="Cabo 1° Torletti">Cabo 1° Torletti</option>
        <option value="Cabo 1° Menendez">Cabo 1° Menendez</option>
        <!-- Cabos -->
        <option value="Cabo Cabrera">Cabo Cabrera</option>
        <option value="Cabo Minicucci">Cabo Minicucci</option>
        <option value="Cabo Zingoni V.">Cabo Zingoni V.</option>
        <option value="Cabo Didier">Cabo Didier</option>
        <!-- Bomberos -->
        <option value="Bombero Gimenez">Bombero Gimenez</option>
        <option value="Bombero Gonzalez">Bombero Gonzalez</option>
        <option value="Bombero Pittuelli">Bombero Pittuelli</option>
        <option value="Bombero Sanchez">Bombero Sanchez</option>
        <option value="Bombero Zingoni">Bombero Zingoni</option>
        <option value="Bombero Altamirano">Bombero Altamirano</option>
        <option value="Bombero Paganoni">Bombero Paganoni</option>
        <option value="Bombero Quevedo">Bombero Quevedo</option>
        <option value="Bombero Villarreal">Bombero Villarreal</option>
        <option value="Bombero Fernandez Barbero">Bombero Fernandez Barbero</option>
        <option value="Bombero Fleita">Bombero Fleita</option>
        <option value="Bombero Manganiello">Bombero Manganiello</option>
        <option value="Bombero Kossoy">Bombero Kossoy</option>
        <option value="Bombero Melian">Bombero Melian</option>
        <option value="Bombero Nardi">Bombero Nardi</option>
        <option value="Bombero Nuñez">Bombero Nuñez</option>
        <option value="Bombero Soria">Bombero Soria</option>
        <option value="Bombero Tapia">Bombero Tapia</option>
        <option value="Bombero Zuliani">Bombero Zuliani</option>
        <option value="Bombero Ponce">Bombero Ponce</option>
        <option value="Bombero Armesto">Bombero Armesto</option>
        <option value="Bombero Arguello">Bombero Arguello</option>
        <option value="Bombero Didier">Bombero Didier</option>
        <option value="Bombero Murúa">Bombero Murúa</option>
        <option value="Bombero Pensa">Bombero Pensa</option>
        <option value="Bombero Viviano">Bombero Viviano</option>
        <option value="Bombero Zarandon">Bombero Zarandon</option>
        <option value="Bombero Rivarola">Bombero Rivarola</option>
    </select>
</div>


    <div class="form-group">

        <input type="text" class="form-control" name="chofer" placeholder="Chofer" required>
    </div>
    <div class="form-group">

        <textarea class="form-control" name="dotacion" placeholder="Dotacion" required></textarea>
    </div>
    <div class="form-group">

        <input type="text" class="form-control" name="qth" placeholder="QTH" required>
    </div>
    <div class="form-group">

        <input type="text" class="form-control" name="operador" placeholder="Operador" required>
    </div>

    <div class="form-group">

        <input type="text" class="form-control" name="bros_base" placeholder="Bros en Base" required>
    </div>

    <div class="form-group">
    <label for="jefe_guardia">Jefe de Guardia</label>
    <select class="form-control" name="jefe_guardia" id="jefe_guardia" required>
        <option value="" disabled selected>Seleccione un jefe de guardia</option>
        <!-- Sargentos -->
        <option value="Sargento Perez">Sargento Perez</option>
        <option value="Sargento Avari">Sargento Avari</option>
        <option value="Sargento Speroni">Sargento Speroni</option>
        <option value="Sargento Vogel">Sargento Vogel</option>
        <!-- Cabos 1° -->
        <option value="Cabo 1° Rivero">Cabo 1° Rivero</option>
        <option value="Cabo 1° Petruzzi">Cabo 1° Petruzzi</option>
        <option value="Cabo 1° Ludueña">Cabo 1° Ludueña</option>
        <option value="Cabo 1° Torletti">Cabo 1° Torletti</option>
        <option value="Cabo 1° Menendez">Cabo 1° Menendez</option>
        <!-- Cabos -->
        <option value="Cabo Cabrera">Cabo Cabrera</option>
        <option value="Cabo Minicucci">Cabo Minicucci</option>
        <option value="Cabo Zingoni V.">Cabo Zingoni V.</option>
        <option value="Cabo Didier">Cabo Didier</option>
        <!-- Bomberos -->
        <option value="Bombero Gimenez">Bombero Gimenez</option>
        <option value="Bombero Gonzalez">Bombero Gonzalez</option>
        <option value="Bombero Pittuelli">Bombero Pittuelli</option>
        <option value="Bombero Sanchez">Bombero Sanchez</option>
        <option value="Bombero Zingoni">Bombero Zingoni</option>
        <option value="Bombero Altamirano">Bombero Altamirano</option>
        <option value="Bombero Paganoni">Bombero Paganoni</option>
        <option value="Bombero Quevedo">Bombero Quevedo</option>
        <option value="Bombero Villarreal">Bombero Villarreal</option>
        <option value="Bombero Fernandez Barbero">Bombero Fernandez Barbero</option>
        <option value="Bombero Fleita">Bombero Fleita</option>
        <option value="Bombero Manganiello">Bombero Manganiello</option>
        <option value="Bombero Kossoy">Bombero Kossoy</option>
        <option value="Bombero Melian">Bombero Melian</option>
        <option value="Bombero Nardi">Bombero Nardi</option>
        <option value="Bombero Nuñez">Bombero Nuñez</option>
        <option value="Bombero Soria">Bombero Soria</option>
        <option value="Bombero Tapia">Bombero Tapia</option>
        <option value="Bombero Zuliani">Bombero Zuliani</option>
        <option value="Bombero Ponce">Bombero Ponce</option>
        <option value="Bombero Armesto">Bombero Armesto</option>
        <option value="Bombero Arguello">Bombero Arguello</option>
        <option value="Bombero Didier">Bombero Didier</option>
        <option value="Bombero Murúa">Bombero Murúa</option>
        <option value="Bombero Pensa">Bombero Pensa</option>
        <option value="Bombero Viviano">Bombero Viviano</option>
        <option value="Bombero Zarandon">Bombero Zarandon</option>
        <option value="Bombero Rivarola">Bombero Rivarola</option>
    </select>
</div>


    <button type="submit" class="btn btn-primary">Registrar Salida</button>
</form>


<div>
    <!-- Chart.js Library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container mt-5">
    <canvas id="tipoAlarmaChart"></canvas>
</div>

<script>
    // Datos para el gráfico de tipos de alarma
    const tipoAlarmaData = {
        labels: {{ conteo_alarmas_labels | tojson }}, // Nombres de tipos de alarma
        datasets: [{
            label: 'Conteo de Tipos de Alarma',
            data: {{ conteo_alarmas_data | tojson }}, // Conteo de cada tipo de alarma
            backgroundColor: 'rgba(255, 69, 0, 0.8)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    };

    const config = {
        type: 'bar',
        data: tipoAlarmaData,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    new Chart(document.getElementById('tipoAlarmaChart'), config);
</script>


</div>

<div class="table-responsive">
    <h1 class="titulo">Tabla Salidas</h1>
    <table class="table tabla_bomberos table-responsive" id="TableSalidas">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Unidad</th>
            <th>Tipo de Alarma</th>
            <th>Numero de Alarma</th>
            <th>A Cargo</th>
            <th>Chofer</th>
            <th>Dotación</th>
            <th>QTH</th>
            <th>Operador</th>
            <th>Bros. en Base</th>
            <th>jefe de guardia</th>
            <th>Observaciones</th>
            <th>Copiar</th>
            <th>Editar</th>

        </tr>
    </thead>
    <tbody>
        {% for salida in salidas %}
        <tr>
            <td>{{ salida.id_salida }}</td>
            <td>{{ salida.fecha }}</td>
            <td>{{ salida.hora }}</td>
            <td>{{ salida.unidad }}</td>
            <td>{{ salida.tipo_alarma }}</td>
            <td>{{ salida.numero_alarma }}</td>
            <td>{{ salida.a_cargo }}</td>
            <td>{{ salida.chofer }}</td>
            <td>{{ salida.dotacion }}</td>
            <td>{{ salida.qth }}</td>
            <td>{{ salida.operador }}</td>
            <td>{{ salida.bros_base }}</td>
            <td>{{ salida.jefe_guardia }}</td>
            <td>{{ salida.observaciones }}</td>
            <td>
                <button class="btn btn-primary copiar-boton"
                        data-hora="{{ salida.hora }}"
                        data-unidad="{{ salida.unidad }}"
                        data-a_cargo="{{ salida.a_cargo }}"
                        data-chofer="{{ salida.chofer }}"
                        data-dotacion="{{ salida.dotacion }}"
                        data-qth="{{ salida.qth }}"
                        data-operador="{{ salida.operador }}"
                        data-bros_base="{{ salida.bros_base }}"
                        data-jefe_guardia="{{ salida.jefe_guardia }}"
                        data-tipo_alarma="{{ salida.tipo_alarma }}">
                    Copiar
                </button>
            </td>
            <td>
    <a href="{{ url_for('editar_salida', id=salida.id_salida) }}" class="btn btn-warning">Editar</a>
</td>


        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>








<script>
    document.querySelectorAll('.copiar-boton').forEach(button => {
        button.addEventListener('click', function () {
            const hora = this.getAttribute('data-hora');
            const unidad = this.getAttribute('data-unidad');
            const aCargo = this.getAttribute('data-a_cargo');
            const chofer = this.getAttribute('data-chofer');
            const dotacion = this.getAttribute('data-dotacion');
            const qth = this.getAttribute('data-qth');
            const operador = this.getAttribute('data-operador');
            const bros_base = this.getAttribute('data-bros_base');
            const jefe_guardia = this.getAttribute('data-jefe_guardia');
            const tipo_alarma = this.getAttribute('data-tipo_alarma');

            const formato = `
                SALIDA: BB.VV. VCP
                MOVIL: ${unidad}
                HORA: ${hora}
                TIPO DE ALARMA: ${tipo_alarma}
                CHOFER: ${chofer}
                A CARGO: ${aCargo}
                DOTACION: ${dotacion}
                DESTINO: ${qth}
                JEFE DE GUARDIA: ${jefe_guardia}
                BROS EN BASE: ${bros_base}
                OPERADOR: ${operador}

            `;

            // Copiar al portapapeles
            navigator.clipboard.writeText(formato.trim()).then(() => {
                alert('Información copiada al portapapeles');
            }).catch(err => {
                alert('Hubo un error al copiar la información: ', err);
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('#TableSalidas').DataTable();
    });
</script>

<script>
        setInterval(function() {
            var h2 = document.getElementById('miH202');
            h2.classList.toggle('cambio-color');
        }, 1000);
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tipoAlarmaSelect = document.getElementById("tipo_alarma");
    const campoObs = document.getElementById("campo-observaciones");

    function mostrarCampoObservaciones() {
      const tipo = tipoAlarmaSelect.value.toLowerCase();
      if (tipo.includes("trámite") || tipo === "tramites") {
        campoObs.style.display = "block";
      } else {
        campoObs.style.display = "none";
      }
    }

    tipoAlarmaSelect.addEventListener("change", mostrarCampoObservaciones);
    mostrarCampoObservaciones(); // Ejecutar por si hay valor preseleccionado
  });
</script>



{% endblock %}



